.NavBarContainer {
  display: flex;
  flex-direction: row;
  padding-inline: 2.5px;
  justify-content: space-evenly;
  .NavBarContainerItem {
    padding-inline: 5px;
    &.active {
      color: #0891b2;
      cursor: pointer;
    }
    &:hover {
      color: #1a9cc2;
      cursor: pointer;
    }
  }
}
